:root {
  --pr: #617a55;
  --sec: #f7e1ae;
  --trd: #c07f00;
  --alt: #fff7d4;
}

nav {
  background-color: var(--pr);
  font-weight: 700;
  border-bottom: 1px black solid;
  color: var(--alt);
}

.navbar-brand {
  color: var(--sec);
  font-weight: 700;
  font-size: 1.5rem;
}

.navbar-brand {
  color: var(--sec);
  font-weight: 700;
  font-size: 1.5rem;
}

.navbar-brand:hover {
  color: var(--sec);
}

.navbar-nav .nav-link {
  color: var(--sec);
}

.data {
  padding-top: 10rem;
  min-height: 100vh;
}

.data h2 {
  text-align: center;
  color: var(--pr);
}

footer {
  border-top: 1px black solid;
  background-color: var(--pr);
  margin-top: 2rem;
  color: var(--alt);
  padding-top: 1rem;
  padding-bottom: 1px;
  align-items: center;
}
footer .copy {
  display: flex;
  justify-content: center;
}

/* Tablet */
@media screen and (max-width: 768px) {
  html {
    font-size: 80%;
  }
}

/* mobile */
@media (max-width: 450px) {
  html {
    font-size: 75%;
  }
}
