* {
  margin: 0;
  padding: 0;
}

:root {
  --pr: #617a55;
  --sec: #f7e1ae;
  --trd: #c07f00;
  --alt: #fff7d4;
}

nav {
  background-color: var(--pr);
  font-weight: 700;
  border-bottom: 1px black solid;
}

.navbar-brand {
  color: var(--sec);
  font-weight: 700;
  font-size: 1.5rem;
}

.navbar-brand:hover {
  color: var(--sec);
}

.navbar-nav .nav-link {
  color: var(--sec);
}

/* HOME */
.home {
  min-height: 100vh;
  padding-top: 6rem;
}

.home .banner {
  border-radius: 20px;
}

.home .banner .tales {
  width: 100%;
  border-radius: 20px;
}

.home .isi {
  padding-top: 3rem;
  align-items: center;
}

.home .isi h1 {
  font-weight: 700;
  color: var(--pr);
}

.home .isi p {
  text-align: justify;
  width: 90%;
}

.hal2 {
  min-height: 100vh;
  padding-top: 3rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hal2 h2 {
  font-weight: 700;
  color: var(--pr);
  margin-bottom: 1rem;
}

.hal2 .p {
  text-align: center;
  margin-bottom: 3rem;
  width: 80%;
}

.hal2 .kartu {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.hal2 .kartu .card {
  box-shadow: rgb(0, 0, 0, 30%) 1px 1px 3px;
}

.hal2 .kartu .card .card-body {
  text-align: left;
}

.hal2 .kartu .card .card-body .sosmed {
  color: white;
  background-color: var(--pr);
}

.hal2 .kartu p {
  text-align: left;
}

footer {
  border-top: 1px black solid;
  background-color: var(--pr);
  margin-top: 2rem;
  color: var(--alt);
  padding-top: 1rem;
  padding-bottom: 1px;
  align-items: center;
}
footer .copy {
  display: flex;
  justify-content: center;
}
